/* home Section Styles */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.hero-content {
  max-width: 100%;
  width: 800px;
  padding: 1rem;
}

.hero p:nth-child(1) {
  color: #fff;
  font-size: 2.5rem;
}
.hero p:nth-child(2) {
  color: #fff;
  font-size: 1rem;
}
.hero-button-container {
  /* width: 100%; */
  display: none;
  justify-content: center;
}

.hero-button {
  display: inline-flex;
  align-items: center;
  color: white;
  background-color: #d32f2f;
  border: none;
  padding: 10px;
  margin: 30px;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #991b1b;
  transform: scale(1.1);
}
/* Responsive Styles */
@media (max-width: 768px) {
  .hero-content {
    width: 90%;
  }

  .hero p:nth-child(1) {
    font-size: 2rem;
  }

  .hero p:nth-child(2) {
    font-size: 0.875rem;
  }
  .hero-button-container {
    display: flex;
  }
}
