header {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  position: fixed;
  top: -100px;
  width: 100%;
  height: 10%;
  background-color: black;
  transition: top 0.5s ease-in-out;
  z-index: 1000;
}

/* Show the header after page load */
header.show {
  top: 0;
}
/* Gradient text for H1 */
.gradient-text {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  margin: 10px 0px 10px 10px;
  padding: 0px 20px;
}
/* toggle start */

/*burger toggle button */
.burger {
  position: fixed;
  top: 0;
  right: 0;
  margin: 30px;
  width: 30px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: none;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
}

.burger span:nth-of-type(2) {
  top: 50%;
  width: 75%;
}

.burger span:nth-of-type(3) {
  top: 100%;
  width: 50%;
}
/*burger toggle button end */

/* cross toggle button */
.cross {
  position: fixed;
  top: 0;
  right: 0;
  margin: 30px;
  width: 30px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: none;
  /* z-index: 1000; */
}
.cross input {
  display: none;
}
.cross span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: red;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}

.cross span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 13px;
  left: 5px;
}

.cross span:nth-of-type(2) {
  transform: rotate(-45deg);
  top: 13px;
  left: 5px;
}
/* cross toggle button end */

/* toggle ended */

/* navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.navbar ul {
  display: flex;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
}

ul li a {
  position: relative;
  text-decoration: none;
}

ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

ul li a:hover::after {
  transform: scaleX(1);
}

/* Download button */

.resume-button-container {
  width: 30%;
  display: flex;
  justify-content: center;
}

.resume-button {
  display: inline-flex;
  align-items: center;
  color: white;
  background-color: #d32f2f;
  border: none;
  padding: 10px;
  margin: 0px 0px 0px 30px;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
}

.resume-button:hover {
  background-color: #991b1b;
  transform: scale(1.1);
}

/* Animation key frames */
@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* media query */
@media screen and (max-width: 768px) {
  .burger,
  .cross {
    display: block;
  }
  .navbar {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(8px);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    z-index: 1000;
  }

  .navbar.active {
    display: block;
    -webkit-animation: slide-in-center 0.5s forwards;
    animation: slide-in-center 0.5s forwards;
  }
  .navbar ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
  }
  .resume-button-container {
    display: none;
  }
  ul li a::after {
    transform: none;
    width: auto;
    height: auto;
  }

  ul li a:hover::after {
    transform: none;
  }
}
